.hero_container {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_intro {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text {
    font-size: 50px;
    color: white;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.typewriter_text {
    color: red;
}

.hero_main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #eee4fe;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%); /* Start off-screen */
}
